---
import "../styles/global.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Yilmer's Ministerio</title>
		<meta name="description" content="Ministerio Yilmer Guativa" />
		<meta name="autor" content="Yilmer Guativa @YilmerDev" />
		<meta name="keywords" content="Ministerio Yilmer Guativa, Ministry Yilmer Guativa" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playwrite+DE+SAS:wght@100..400&display=swap" rel="stylesheet">
	</head>
	<body class="min-h-screen flex flex-col items-center justify-center">
		<header class="mt-10">
		<h1 class="text-xl font-bold animate-blurred-fade-in">Bienvenidos!</h1>
		<h2>Pagina del ministerio Yilmer Guativa</h2>
		<p> Gracias por visitarnos </p>
</header>
		<main class="flex-grow">

</main>
		<footer class="mb-10">

			<h3 class="mt-10">Redes Sociales</h3>
			<ul class="list-disc">
				<li><a class="text-blue-500 hover:underline" href="https://www.facebook.com/yilmer.guativa" target="_blank" rel="noopener noreferrer">Facebook</a></li>
				<li><a class="text-blue-500 hover:underline" href="https://www.instagram.com/yilmerdev/" target="_blank" rel="noopener noreferrer">Instagram</a></li>
				<li><a class="text-blue-500 hover:underline" href="https://www.linkedin.com/in/yilmerguativa/" target="_blank" rel="noopener noreferrer">LinkedIn</a></li>
				<li><a class="text-blue-500 hover:underline	" href="https://twitter.com/yilmerdev" target="_blank" rel="noopener noreferrer">Twitter</a></li>
			</ul>
		</footer>
		
	</body>
</html>

