---
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Yilmer's Ministerio</title>
    <meta name="description" content="Ministerio Yilmer Guativa" />
    <meta name="autor" content="Yilmer Guativa @YilmerDev" />
    <meta
      name="keywords"
      content="Ministerio Yilmer Guativa, Ministry Yilmer Guativa"
    />
  </head>
  <body
    class="min-h-screen flex flex-col items-center justify-center p-6 bg-gradient-to-b from-gray-100 to-blue-200 text-center"
  >
    <header class="mt-10 animate-blurred-fade-in">
      <h1 class="text-6xl font-bold font-playwrite-deutschaland">
        Bienvenidos!
      </h1>
      <h2>Pagina del ministerio Yilmer Guativa</h2>
      <p>
        Nos agrada tenerte por aquí, Somos un grupo de jovenes que hemos
        encontrado en Cristo una identidad y aun más halla un estilo diferente
        de compartir. Te gustaria saber mas!
      </p>
    </header>
    <main class="flex-grow">
      <h3 class="mt-10">Contacto</h3>
      <ul class="list-disc">
        <li>
          Por Whatsapp:
          <a
            class="text-blue-500 hover:underline"
            href="https://wa.me/573508671973"
            target="_blank"
            rel="noopener noreferrer">+57 350 8671973</a
          >
        </li>
        <li>
          Mensaje de instagram: <a
            class="text-blue-500 hover:underline"
            href="https://www.instagram.com/yilmerg12/"
            target="_blank"
            rel="noopener noreferrer">@yilmerg12</a
          >
        </li>
      </ul>
    </main>
    <footer class="mb-10">
      <h3 class="mt-10">Redes Sociales</h3>
      <ul class="list-disc">
        <li>
          <a
            class="text-blue-500 hover:underline"
            href="https://www.facebook.com/yilmergr12"
            target="_blank"
            rel="noopener noreferrer">Facebook</a
          >
        </li>
        <li>
          <a
            class="text-blue-500 hover:underline"
            href="https://www.instagram.com/yilmerg12/"
            target="_blank"
            rel="noopener noreferrer">Instagram</a
          >
        </li>
        <li>
          <a
            class="text-blue-500 hover:underline"
            href="https://twitter.com/yilmerdev"
            target="_blank"
            rel="noopener noreferrer">Twitter</a
          >
        </li>
      </ul>
    </footer>
  </body>
</html>
